<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />

    <title>template-lume-tailwind</title>
    <meta name="author" content="João Palmeiro" />
    <meta
      name="description"
      content="Opinionated Lume + Tailwind CSS template for new projects."
    />
  </head>

  <body>
    {{ content }}
  </body>
</html>
